<p-card>
    <ng-template #header *ngIf="cardItem.imageUrl">
        <img alt [src]="cardItem.imageUrl">
    </ng-template>
    <ng-template #title>
        {{cardItem.title}}
    </ng-template>
    <ng-template #subtitle *ngIf="cardItem.subtitle">
        {{cardItem.subtitle}}
    </ng-template>
    <p>
        {{cardItem.content}}
    </p>
    <ng-template #footer>
        <div class="flex gap-4 mt-1" *ngFor="let button of cardItem.buttons">
            <p-button
            [label]="button.label"
            [severity]="button.severity"
            [icon]="button.icon"
            (click)="button.action()"
            >
            </p-button>
        </div>
    </ng-template>
</p-card>